<nav>
    <div class="container-fluid">
    <div
      class="row d-flex flex-norwrap align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex"
    >
      <div class="col-lg-4">
        <h1 class="h1 text-primary px-2">HealthifyMe</h1>
      </div>
      <div class="col-lg-3 text-left">
        <form action="">
          <div class="input-group">
            <input
              type="text"
              class="form-control rounded"
              placeholder="Search for products"
            />
            <div class="input-group-append rounded">
              <span class="input-group-text bg-transparent text-primary rounded">
                <!-- <i class="fa fa-search"></i> -->
                <svg
                  class="feather feather-search"
                  fill="none"
                  height="24"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                  width="24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle cx="11" cy="11" r="8" />
                  <line x1="21" x2="16.65" y1="21" y2="16.65" />
                </svg>
              </span>
            </div>
          </div>
        </form>
      </div>
  
      <div class="col-lg-4 d-none d-lg-block">
        <div class="d-flex justify-content-end">
          <a class="text-body mr-3" href="">About</a>
          <a class="text-body mr-3" href="">Contact</a>
          <a class="text-body mr-3" href="">Help</a>
          <a class="text-body mr-3" href="/login">Login</a>
          <!-- <a (click)="onLoginClick()" class="text-body mr-3" href="">login</a> -->
          <!-- <a routerLink="/login"> Login </a> -->
          <!-- <a
            class="button"
            routerLink="/login"
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page"
          >
            Login
          </a> -->
        </div>
      </div>
    </div>
  </div></nav>